*{
    margin: 0;
    padding: 0;
    font-family: 'norm';
  }
  body{
    overflow-x: hidden;
    position: relative;
  }
  @font-face {
    font-family: 'norm';
    src: url('./assets/fonts/norm.ttf');
    font-weight: normal;
  }
  @font-face {
    font-family: 'heading';
    src: url('./assets/fonts/Heading.ttf');
    font-weight: normal;
  }
  @font-face {
    font-family: 'marquee';
    src: url('./assets/fonts/marquee.ttf');
    font-weight: normal;
  }
  .hrline{
     width: 100%; 
    height: 1px; 
    background-color: rgb(142, 142, 142);
  }
  /* .vrline{
    height: 100%;
    width: 2px; 
    background-color: rgb(142, 142, 142);
  }  */
  #page1{
    width: 100vw;
    height: 100vh;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 1vw 7vw;
    align-items: center;
  }
  #left-nav{
    text-transform: uppercase;
    width: 30%;
  }
  h1{
    font-family: 'norm';
    font-weight: 700;
    font-size: 3vw;
    letter-spacing: -2px;
  }
  #center-nav{
    display: flex;
    gap: 2vw;
    text-transform: uppercase;
    font-size: 1.4vw;
    align-items: center;
  }
  #center-nav a{
    color: black;
  }
  #center-nav h4{
    text-decoration: underline;
    font-weight: 400;
  }
  #right-nav{
    display: flex;
    width: 30%;
    gap: 2vw;
    font-size: 2vw;
    justify-content: end;
  }
  #page1-main{
    height: 72%;
    padding: 0 9vw;
    display: flex;
  }
  #page1-main h2{
    font-size: 9vw;
    text-transform: uppercase;
    font-family: 'heading';
    font-weight: 300;
    white-space: nowrap;
  }
  #page1-main-text{
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }
  .start-project{
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1.6vw;
    background-color: rgb(247, 247, 247);
    border: 1px solid #2e2e2e;
    border-radius: 30px;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    padding: 10px 12px;
    width: 300px;
    justify-content: center;
    transition: all ease 0.2s;
  }
  .rightArr{
    transition: all ease 0.2s;
  }
  .start-project:hover .rightArr{
    rotate: -45deg;
    scale: 1.2;
  }
  .start-project:hover{
    font-size: 1.62vw;
  }
  .plumber{
    color: red;
    font-weight: 400;
    font-family: 'heading';
  }
  #marquee-container{
    display: flex;
    overflow-x: hidden;
  }
  .marquee{
    display: flex;
    animation: anime1 15s linear infinite forwards;
    gap: 5vw;
    padding: 0 2vw;
  }
  .marquee h4{
    font-size: 25vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    font-family: 'marquee';
  }
  #page2{
    width: 100vw;
    min-height: 100vh;
    margin-top: 18vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
  #page2-heading{
    font-size: 3vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: capitalize;
    font-weight: 400;
  }
  .service{
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: all ease 0.3s;
  }
  .service img{
    transition: all ease 0.3s;
    opacity: 1;
  }
  .service-text{
    position: absolute;
    z-index: 9;
    bottom: 0;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1vw;
    padding: 1vw;
  }
  .service-text h2{
    font-size: 2vw;
  }
  .service-text p{
    font-size: 1.2vw;
  }
  .service:hover img{
    scale: 1.3;
  }
  #page2-main{
    display: flex;
    gap: 10vw;
    flex-direction: column;
  }
  #upper-service{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #lower-service{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #page3,#page5{
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  #page3-container,#page5-container,#page6-container{
    width: 95%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
  }
  #page3 h2,#page5 h2,#page6 h2{
    font-size: 2vw;
    text-transform: capitalize;
    color: #444444;
    font-weight: 400;
    margin-bottom: 1vw;
  }
  #page3 p,#page5 p,#page6 p{
    margin-top: 1vw;
    font-size: 4vw;
  }
  #page3-content,#page5-content,#page6-content{
    display: flex;
    gap: 2vw;
    align-items: center;
    flex-direction: column;
  }
  #page4 {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 25vw;
  }
  i{
    font-size: 2vw;
  }
  #page4 h4{
    font-size: 2vw;
    padding: 1vw;
    padding-left: 2vw;
    opacity: 0.8;
    font-weight: 400;
  }
  #page4-content{
    display: flex;
    flex-direction: column;
  }
  #page4-heading{
    display: flex;
    margin-top: 2vw;
    align-items: center;
  }
  .project {
    border-bottom: 1px solid #bababa;
    cursor: pointer;
    display: flex;
    cursor: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
  }
  
  .project p {
    font-size: 2.5vw;
    padding: 2vw;
    position: relative;
    z-index: 99;
  }
  
  .project h5 {
    font-size: 1.5vw;
    font-weight: 500;
    padding-right: 2vw;
    z-index: 100; /* Ensure the text is above the pseudo-element */
    position: relative;
    z-index: 99;
  }
  #video-container{
    border-radius: 15px;
    aspect-ratio: 16/9;
    width: 40vw;
    position: fixed;
    top: 50%;
    left: 60%;
    z-index: 999;
    transform: translate(-50%,-50%);
    overflow: hidden;
  }
#visit-cursor{
    cursor: none;
    text-transform: capitalize;
    width: 120px;
    height: 120px;
    border: 1px solid rgb(81, 81, 81);
    z-index: 99;
    scale: 0;
    opacity: 0;
    border-radius: 50%;
    position: fixed;
    background-color: #dadada;
}

#visit-cursor p {
    position: absolute;
    bottom: 25%;
    left: 25%;
    font-size: 1.6vw;
}
#visit-cursor i {
    position: absolute;
    z-index: 99;
    color: black;
    top: 15%;
    right: 15%;
    z-index: 9;
    font-size: 1.5vw;
    font-weight: 300;
}
  .project::before {
    content: "";
    background-color: orangered;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 99;
  }
  
  .project:hover::before {
    transform: translateY(0);
  }
  #project-btn{
    font-size: 1.6vw;
    background-color: rgb(247, 247, 247);
    border: 1px solid #2e2e2e;
    border-radius: 30px;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    padding: 10px 12px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
  }
  #footer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #top-footer{
    display: flex;
    justify-content: space-between;
    height: 35%;
  }
  #left-footer{
    display: flex;
    flex-direction: column;
    padding: 2vw;
  }
  #left-footer h4{
    text-decoration: underline;
  }
  #right-footer{
    padding: 2vw;
  }
  #right-footer h5{
    font-size: 1.8vw;
    font-weight: 300;
  }
  #left-footer h4{
    font-size: 2vw;
    font-weight: 300;
  }
  #bottom-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  #name{
    white-space: nowrap;
    text-transform: uppercase;
  }
  #name  h2{
    letter-spacing: 2vw;
    font-size: 22vw;
    letter-spacing: -6px;
    font-weight: 400;
    font-family: 'heading';
  }
  #links{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
    align-items: center;
  }
  #links h4{
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.4vw;
    font-weight: 300;
    text-decoration: underline;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @keyframes anime1 {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
  }
  
  